<header class="site-header">
    
    <!-- Logo and title -->
	<div class="branding">
      <!--
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
		</a>
      -->

        <h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a><br/>
            <p style="font-size: 70%; font-weight: 100;">{{ site.description }}</p>
		</h1>
	</div>
    
    <!-- Menu -->
    {% if include.omitnav %}
    {% else %}
    <ul class="sidelinks">
    <!--<li class="separator"> | </li>-->
    <li> <a href="{{ site.baseurl }}/">Archive</a> </li>
    </ul>
    {% endif %}

</header>
